
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AsyncDemo</title>
</head>
<body>
    <div>@ViewBag.Tekst</div>
</body>
</html>
