
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminRet</title>


    <form action="/adminret" method="post">

        <input type="text" name="Brugernavn" />
        <input type="text" name="Gruppe" />
        <input type="submit" value="Send data" />

    </form>
</head>
<body>
</body>
</html>
