@{
    Layout = "~/Views/Shared/Master.cshtml";
}

<h1>Index</h1>
<p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>


@section scripts{ 
    
    <script>
        console.log("*****");
        alert("test");
    </script>


}

@section styles{ 

    <style>
        h1 {
            color: red;
        }
    </style>

}